<div class="page-width main-div">
 <div class="grid">
   <div class="medium-up--one-half grid__item small-one-whole text-center">
     <h1>one</h1>
   </div>
   <div class="medium-up--one-half grid__item small-one-whole text-center">
     <h1>two</h1>     
   </div>   
 </div>
</div>